footer {

  z-index: -1;
  position: fixed;
  //padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 80px;
  height: 100%;
  box-shadow: 10px 10px 10px rgba(0, 255, 0, 0.2);
  background-color: black;
  text-align: center;

  img{

    //list-style-type: none;
    height: 60px;
    transform: translate(-0%, 150%);
    margin-top: 15px;
    align-items: center;
  }
}

